* {
    margin: 0;
}
.heading {
    color: aliceblue;
    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 13vw;
    width: 13vw;
    object-fit: cover;
    border-radius: 50%;
    border: 0.2vh solid black;
}
.choice :hover {
    border: 0.5vh solid black;
}
.image {
    margin-top: 15vh;
    display: flex;
    justify-content: space-evenly;
}
.scoreboard {
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}
p {
    font-size: 4vh;
}
#user {
    display: flex;
    justify-content: center;
}
#comp {
    display: flex;
    justify-content: center;
}
.msgcontainer {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
}
#msg {
    font-size: 3.5vh;
}
.newgamecontainer {
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
}
.newgame {
    width: 8rem;
    background-color: black;
    color: aliceblue;
    border-color: black;
}

